.container-fluid {
  padding: 0;
  margin: 0;
}
.header-container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  background-image: url("../images/header_background.jpg");
  .logo-container {
    display: flex;
    align-items: center;
    .logo-container__title {
      text-transform: uppercase;
      padding: 10px;
      font-size: 22px;
      margin: 0;
    }
    .icon {
      font-size: 65px;
    }
  }
  .nav-container {
    height: 40px;
    margin: 15px;
    font-size: 25px !important;
    .btn {
      font-size: 16px;
    }
    li {
      font-size: 16px;
    }
  }
  .user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .user-container__title {
      text-transform: uppercase;
      padding: 10px;
      font-size: 22px;
      margin: 0;
    }
    .btn {
      width:60px;
      height: 50px;
      margin: 2px;
    }
  }
  .news-container {
    position: absolute;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .icon {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 400px) {
  .divided {
    width: 0;
  }
  .user-container {
    flex-direction: column;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  .divided {
    width: 20%;
  }
  .user-container {
    flex-direction: column;
  }
}

@media (min-width: 651px) and (max-width: 800px) {
  .divided {
    width: 25%;
  }
  .user-container {
    flex-direction: row-reverse;
  }
}

@media (min-width: 801px) {
  .divided {
    width: 50%;
  }
  .user-container {
    flex-direction: row-reverse;
  }
}

.elements-container {
  padding: 60px 70px;
}